<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Gapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Gapp.Properties.Settings>
            <setting name="DefaultN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultU" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="DefaultUpperValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultFunction" serializeAs="String">
                <value>(x1-3)^2+(x2-2)^2</value>
            </setting>
            <setting name="DefaultUpperX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultRunCount" serializeAs="String">
                <value>20</value>
            </setting>
        </Gapp.Properties.Settings>
    </userSettings>
</configuration>
